---
layout: default
permalink: /homelab/
title: Homelab
description: Read about the progress of the author of devopsapprentice.com in various projects and activities that he's worked on in his homelab.
image: /_pictures/threemonitorsetup.jpg
---
<div class="introheader">
Homelab Projects & Activities
</div>
<div class="tagline">
Below you can read about my progress in various projects and activities that I've worked on in my homelab.
 </div>﻿

<div class="posts">
{% for post in site.categories.Homelab %}{% if post.sticky %}
      <div class="listings">
        {% assign foundImage = 0 %}
        {% assign images = post.content | split:"<img " %}
          {% for image in images %}
            {% if image contains 'src' %}
              {% if foundImage == 0 %}
                {% assign html = image | split:"/>" | first %}
                <a href="{{ post.url }}">
                <img {{ html }} /></a>
                {% assign foundImage = 1 %}
              {% endif %}
            {% endif %}
          {% endfor %}
        <h3 style="color: #55D33F;"><a href="{{ post.url }}">{{ post.title }}</a></h3>
        Published on {{ post.date | date_to_string }}
        <br><br>
        {{ post.content | strip_html | truncatewords: 45 }}
    </div>
{% endif %}{% endfor %}
</div>

<div class="posts">
{% for post in site.categories.Homelab %}{% unless post.sticky %}
      <listings>
        {% assign foundImage = 0 %}
        {% assign images = post.content | split:"<img " %}
          {% for image in images %}
            {% if image contains 'src' %}
              {% if foundImage == 0 %}
                {% assign html = image | split:"/>" | first %}
                <a href="{{ post.url }}">
                <img {{ html }} /></a>
                {% assign foundImage = 1 %}
              {% endif %}
            {% endif %}
          {% endfor %}
        <h3 style="color: #55D33F;"><a href="{{ post.url }}">{{ post.title }}</a></h3>
        Published on {{ post.date | date_to_string }}
        <br><br>
        {{ post.content | strip_html | truncatewords: 45 }}
    </listings>
{% endunless %}{% endfor %}
</div>
