---
layout: default
permalink: /knowledgebase/
title: Knowledge Base
description: Find various articles, tips and how-to guides written about Linux, System Infrastructure and DevOps on devopsapprentice.com.
---
<div>
  <div class="introheader">
Knowledge Base
</div>
<div class="tagline">
Here you can find various articles, tips and how-to guides written about Linux,
System Infrastructure and DevOps.
</div>﻿

<div class="posts">
  <homepage>
    <h3> Coming Soon </h3>
    </homepage>
</a>

<!--
<div class="posts">
{% for post in site.categories.Articles %}
  <listings>
    {% assign foundImage = 0 %}
    {% assign images = post.content | split:"<img " %}
      {% for image in images %}
        {% if image contains 'src' %}
          {% if foundImage == 0 %}
            {% assign html = image | split:"/>" | first %}
            <a href="{{ post.url }}">
            <img class="articleimg" {{ html }} /></a>
            {% assign foundImage = 1 %}
          {% endif %}
        {% endif %}
      {% endfor %}
    <h3 style="color: #55D33F;"><a href="{{ post.url }}">{{ post.title }}</a></h3>
    Published on {{ post.date | date_to_string }}
    <br><br>
    {{ post.content | strip_html | truncatewords: 49 }}
  </listings>
{% endfor %}
</div>
-->
