
/* GREEN THEME COLOUR GREEN 6CC040 ORANGE D68800 AND PANEL COLOUR CONTENT-COLOR 0D2323 */
$theme-color: #D68800;
$content-color: #0D2323;
$header-color: #0f0f0f;
$content-width:    850px !default;
---
---
@import "leaf";

/* OVERALL BACKGROUND COLOUR */
body {
background-color: #021717;
background-image: none
}

/* NO CURVED PANELS PLS */
article, .comments, .box {
    border-radius: 0px;
    margin: 30px 0;
    margin-left: 10px;
    margin-right: 10px;
    @include media-query($on-mobile) {
        margin-left: 10px;
        margin-right: 10px;
        padding: 13px;
        background: $content-color;
    }
}

body {
  font-family: Arial;
  margin: 0;
}

/* RED BANNER */
  .header2 {
  position: static;
  margin-top: 60px;
  text-align: center;
  background: #890D0D;
  color: black;
  font-size: 10px;
  padding: 0px;
}

/* ENSURE RED BANNER DOESN'T MESS WITH THEME */
.page-content {
  margin-top: 0px;
}
