---
---
/* GREEN THEME COLOUR GREEN 6CC040 ORANGE D68800 AND PANEL COLOUR CONTENT-COLOR 0D2323 */
$theme-color: #D68800;
/*$content-color: #061d1b; */
$content-color: #062634;
$header-color: #0f0f0f;
$content-width:    850px !default;
@import "leaf";

h1, h2, h3{
 a{
/*   color:#006699 !important;
#   &:hover{ color:#890D0D !important;}*/
 }
}

.post-title, .post-content h3 {
    font-size: 1.9rem;
}

/* OVERALL BACKGROUND COLOUR */
body {
background-color: #021717;
background-image: none
}

.wrapper {
    max-width: calc(850px - (30px));
    margin-right: auto;
    margin-left: auto;
    padding-right: 8px;
    padding-left: 8px;
        @include media-query($on-mobile) {
          margin-bottom: -31px;
 }
}


h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure {
    @include media-query($on-mobile) {
      margin-bottom: 15px;
    padding: 0px 10px 0px 10px;
  }
}
/* NO CURVED PANELS PLS */
article, .comments, .box {
    border-radius: 0px;
/*    color: #ccffff; */
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 9px 0;
    margin-bottom: 25px;
    @include media-query($on-mobile) {
        margin-top: 0px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 35px;
        padding: 15px;
        padding-top: 20px;
        background: #062634;
        a {
              @include media-query($on-mobile) {
                color: #D68800;
                text-decoration: none;
              }
        }
    }
}


listings, .comments, .box {
    border-radius: 0px;
/*    color: #ccffff; */
    padding: 25px;
    margin: 9px 0;
    margin-bottom: 25px;
    background: #062634;
    display:block;
    @include media-query($on-mobile) {
        margin-top: 0px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 35px;
        padding: 15px;
        background: #062634;
        a {
              @include media-query($on-mobile) {
                color: #D68800;
                text-decoration: none;
                margin-left: -9px;
          }
        }
    }
}

homepage, .comments, .box {
    color: #55D33F;
    padding-top:15px;
    margin:0px;
    text-align: center;
    border-radius: 0px;
/*    color: #ccffff; */
    padding-top: 26px;
    padding-bottom: 14px;
    margin: 9px 0;
    margin-bottom: 32px;
    background: #062634;
    display:block;
    @include media-query($on-mobile) {
        margin-top: 0px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 35px;
        padding: 15px;
        padding-top: 0px;
        background: #062634;
          h1, h2, h3, h4, h5, h6 {
            margin: -9px;
            padding: 10px;
        }
    }
}


h1, h2, h3, h4, h5, h6 {
  @include media-query($on-mobile) {
    margin:0px;
  }
}

.post-content h4, .post-content h5, .post-content h6 {
    margin-top: 0px;
    margin-bottom:15px;
}

body {
  font-family: Arial;
  margin: 0;
}

.site-header {
    padding-left: 0px;
    border-bottom: 6px solid #890D0D;
}

.site-nav input:checked ~ .trigger {
    z-index: 10;
    position: relative;
}

/* RED BANNER */
  .header2 {
  position: absolute;
  margin-top: 86px;
  text-align: center;
  background: #890D0D;
  color: black;
  font-size: 6px;
  padding: 0px;
  width:100%;
  z-index: 6;
}

/* ENSURE RED BANNER DOESN'T MESS WITH THEME */
.page-content {
  margin-top: 80px;
}

.site-title {
    padding-left: 24px;
    z-index: 7;
}

.introheader {
  margin-top: 0px;
  text-align: center;
  font-size: 33px;
  color: #55D33F;
  @include media-query($on-mobile) {
    }
}

.intro {
  margin-top: 30px;
  text-align: center;
  background: #021717;
  color: #e0e0e0;
  font-size: 26px;
  padding: 0px;
  width:100%;
}

.tagline {
  margin-top: 17px;
  text-align: center;
  background: #021717;
  max-width: calc(850px - (30px * 2));
  padding-right: 96px;
  padding-left: 94px;
  color: #e0e0e0;
  font-size: 21px;
  width: 100%;
  @include media-query($on-mobile) {
          padding-left: 18px;
          padding-right: 18px;
        }
}


#l {
  float: left;
  }

#r {
  float: right;
  }

.leftimg {
  float: left;
  padding: 0px 24px 0 0;
  width: 40%;
  @include media-query($on-mobile) {
          padding: 20px 0px 20px 0px;
          width: 100%;
  }
}

.rightimg {
  float: right;
  padding: 0px 0 0 24px;
  width: 40%;
  @include media-query($on-mobile) {
          padding: 20px 0px 20px 0px;
          width: 100%;
  }
}

.articleimg {
  float: left;
  padding: 6px 24px 0 0;
  width: 35%;
  margin-bottom: 10px;
  @include media-query($on-mobile) {
          padding: 20px 0px 20px 0px;
          width: 100%;
  }
}


.badgeimg {
  float: left;
  padding: 0px 24px 0 0;
  margin-left: 10px;
  margin-right: 10px;
  width: 28%;
  @include media-query($on-mobile) {
          padding: 20px 0px 20px 0px;
          width: 100%;
  }
}

  p img:first-child:last-child {
      margin: 8px 0;
      border-radius: 0px;
      @include media-query($on-mobile) {
        margin: 0px;
        margin-top: -22px;
          }
  }

.searchbar {
  font-size: 18px;
  text-align: center;
  padding: 20px;
}

.searchpanel {
    border-radius: 0px;
    color: #e0e0e0;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
    margin: 9px 0;
    margin-bottom: 18px;
    font-size: 16px;
    background: $content-color;
    margin-left: -40px;
    margin-right: -41px;

    @include media-query($on-mobile) {
      margin-top: 0px;
      margin-left: -30px;
      margin-right: -30px;
      margin-bottom: 20px;
      padding: 14px;
      background: $content-color;
        h1, h2, h3, h4, h5, h6 {
        margin-bottom: 13px;
        padding-left: 0px;
        }

    }
}

ul, ol {
    margin-left: 0px;
    margin-top: 9px;
}

.searchbar input[type=text] {
  float: centre;
  padding: 6px;
  border: none;
  margin: 8px;
  font-size: 18px;
}

/* iPhone */
@media only screen and (width:320px) and (device-width:320px) and (device-height:480px) and (orientation: landscape) {
	body {
		-webkit-transform: scale(0.667);
		-webkit-transform-origin: top right;
		position: absolute;
		right: 0;
		top: 0;
		width: 480px;
	}
}
/* iPad */
@media only screen and (width:768px) and (device-width:768px) and (device-height:1024px) and (orientation: landscape) {
	body {
		-webkit-transform: scale(0.75);
		-webkit-transform-origin: top right;
		position: absolute;
		right: 0;
		top: 0;
		width: 1024px;
	}
}
