---
---
/* GREEN THEME COLOUR GREEN 6CC040 ORANGE D68800 AND PANEL COLOUR CONTENT-COLOR 0D2323 */
$theme-color: #D68800;
$content-color: #061d1b;
$header-color: #0f0f0f;
$content-width:    850px !default;
@import "leaf";

h1, h2, h3{
 a{
/*   color:#006699 !important;
#   &:hover{ color:#890D0D !important;}*/
 }
}

.post-title, .post-content h3 {
    font-size: 1.9rem;
}

/* OVERALL BACKGROUND COLOUR */
body {
background-color: #021717;
background-image: none
}

.wrapper {
    max-width: calc(850px - (30px));
    margin-right: auto;
    margin-left: auto;
    padding-right: 8px;
    padding-left: 8px;
}

/* NO CURVED PANELS PLS */
article, .comments, .box {
    border-radius: 0px;
/*    color: #ccffff; */
    padding-top: 20px;
    padding-bottom: 9px;
    margin: 9px 0;
    margin-bottom: 32px;
    @include media-query($on-mobile) {
        margin-top: 0px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 13px;
        margin-bottom: 18px;
        background: $content-color;
    }
}

body {
  font-family: Arial;
  margin: 0;
}

.site-header {
    padding-left: 0px;
    border-bottom: 6px solid #890D0D;
}

.site-nav input:checked ~ .trigger {
    z-index: 10;
    position: relative;
}

/* RED BANNER */
  .header2 {
  position: absolute;
  margin-top: 86px;
  text-align: center;
  background: #890D0D;
  color: black;
  font-size: 6px;
  padding: 0px;
  width:100%;
  z-index: 6;
}

/* ENSURE RED BANNER DOESN'T MESS WITH THEME */
.page-content {
  margin-top: 80px;
}

.site-title {
    padding-left: 24px;
    z-index: 7;
}

.introheader {
  margin-top: 0px;
  text-align: center;
  font-size: 33px;
  color: #55D33F;
}

.intro {
  margin-top: 30px;
  text-align: center;
  background: #021717;
  color: #e0e0e0;
  font-size: 26px;
  padding: 0px;
  width:100%;
}

.tagline {
  margin-top: 17px;
  text-align: center;
  background: #021717;
  max-width: calc(850px - (30px * 2));
  padding-right: 96px;
  padding-left: 94px;
  color: #e0e0e0;
  font-size: 21px;
  width: 100%;
  @include media-query($on-mobile) {
          padding: 13px;
  }
}


#l {
  float: left;
  }

#r {
  float: right;
  }

.leftimg {
  float: left;
  padding: 0 24px 0 0;}

  p img:first-child:last-child {
      margin: 8px 0;
  }
