---
layout: default
---


<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <p class="post-meta">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {%- if page.modified_date -%}
      {%- assign mdate = page.modified_date | date_to_xmlschema -%}
      <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
        <div><p id="blogheaderleft">Written by <a href="/about/">Tim Craig</a></p>&nbsp;<p id="blogheaderright">Last Updated on {{ mdate | date: date_format }}<hr></p>
            <div class="introheader2">
                {{ page.title | escape }}<hr>
            </div>
          </div>
      </time>
    {%- else -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
  <div><p id="">Written by <a href="/about/">Tim Craig</a> on {{ page.date | date: date_format }}<hr>
            <div class="introheader2">
                {{ page.title | escape }}<hr>
            </div>
          </div>
      </time>
    {%- endif -%}
    {%- if page.author -%}
      • {% for author in page.author %}
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span class="p-author h-card" itemprop="name">{{ author }}</span></span>
          {%- if forloop.last == false %}, {% endif -%}
      {% endfor %}
    {%- endif -%}
  </p>
  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>


{%- if site.hyvor_talk_website_id -%}
  <div class="comments">
    {%- include hyvor-talk-comments.html -%}
  </div>
{%- endif -%}
